<main role="main">
<div id="topic_path">
  <ol>
    <li><a href="index.html">
      <p>HOME</p>
      </a></li>
    <li>
      <p>&gt;</p>
    </li>
    <li><a href="club.html">
      <p>部について</p>
      </a></li>
  </ol>
</div>
<section id="contents">
<h2 class="border">部について</h2>
<section id="club_about">
  <h3><span class="short_border">情報研究部とは</span></h3>
  <img src="images/IRC.png" alt="情報研究部">
  <p>宮城県工業高等学校情報研究部では技術・知識・意識の統一を目標とし、興味のあることは何でも調べ、挑戦し、妥協しません。 また個人の技術の向上はもちろんですがそれ			           以外に、ほかの生徒の模範となるような生活態度を常に心がけ、情報研究部の活動を多くの人たちに知ってもらえるように日々活動をしています。 </p>
</section>
<section id="team_about">
  <h3><span class="short_border">各班紹介</span></h3>
  <section id="soft_about" class="team">
    <div>
      <h4>ソフトウェア班</h4>
      <img src="images/soft.png" alt="" class="team_icon">
      <div id="club_sub">
      <div class="text">
        <p>ソフトウェア班は、ソフトウェアやアプリケーション開発、競技プログラミングなどを行っています。
          活動の中で身に着けた技を生かし、人々の役に立てるようなソフトウェアを開発しています。
          また、プログラミング技術の向上を目指して様々な大会に出場しています。</p>
        <h5>出場予定大会</h5>
        <ul>
          <li>全国高校生プログラミングコンテスト</li>
          <li>パソコン甲子園　プログラミング部門</li>
          <li>U-20プログミングコンテスト</li>
          <li>情報オリンピック</li>
          <li>ICT Challenge +R</li>
          <li>宮城県産業振興協会プログラミングコンテスト</li>
        </ul>
      </div>
      <div> <img src="images/soft_img.jpg" alt="ソフト班のプログラミングの画像"> </div>
      </div>
    </div>
  </section>
  <section id="hard_about" class="team">
    <h4>ハードウェア班</h4>
    <img src="images/hard.png" alt="" class="team_icon">
    <div id="club_sub">
      <div id="flo" class="text">
        <p>ハードウェア班では主に、教育用レゴセットMINDSTORMSでロボットの制作を行い、WRO世界大会出場を目標に日々活動しています。
          また人の役に立つようなものを作れるよう、日々努力しています。</p>
        <h5>活動目標</h5>
        <p>WRO世界大会出場</p>
        <ul>
          <li>サプライズルールの対抗力を高める</li>
          <li>タイム短縮のための機体作り</li>
          <li>ハード班内でミーティングを実施</li>
          <li>確実に満点を取るため作りこむ </li>
        </ul>
      </div>
      <div> <img src="images/hard_img.jpg" alt="ハード班のロボットの画像"> </div>
    </div>
  </section>
  <section id="web_about" class="team">
    <div>
      <h4>ウェブ班</h4>
      <img src="images/web.png" alt="" class="team_icon">
      <div id="club_sub">
      <div class="text">
        <p>ウェブ班では主に、HTMLやCSS、JavaScriptを使用しWEBページのデザインから制作またデータベースの管理など幅広く活動しています。
          また若年者ものづくり競技会にも出場しており、それに向けてのWEBデザインなどの勉強などもしています。</p>
        <h5>活動目標</h5>
        <p>技能五輪全国大会出場</p>
        <ul>
          <li>WEBデザインの勉強</li>
          <li>基礎的なプログラミングの知識</li>
          <li>サプライズへの対応力</li>
          <li>後輩への指導など</li>
        </ul>
      </div>
       <div> <img src="images/web_img.jpg" alt="ウェブ班ウェブサイト作成風景の画像"> </div>
       </div>
    </div>
  </section>
</section>
</main>
