<main role="main">
  <div id="topic_path">
    <ol>
      <li><a href="index.html">
        <p>HOME</p>
        </a></li>
      <li>
        <p>&gt;</p>
      </li>
      <li><a href="record.html">
        <p>受賞記録</p>
        </a></li>
    </ol>
  </div>
  <section id="contents">
    <h2 class="border">受賞記録</h2>
    <section id="record">
      <h3 class="record_line_soft"><span>ソフト班</span></h3>
      <div id="soft_record">
        <section>
          <h4>U-20 プログラミング・コンテスト</h4>
          <ul>
            <li>
              <p>第34回 U-20プログラミング・コンテスト</p>
              <p>「～もしもの時の安心アプリ～「iSHelper」」</p>
              <p class="award">経済産業大臣賞</p>
            </li>
            <li>
              <p>第33回 U-20プログラミング・コンテスト</p>
              <p>「落し物お知らせサービスあったよ！」</p>
              <p class="award">経済産業大臣賞</p>
              <p>「Desktop++;」</p>
              <p class="award">経済産業省商務情報政策局長賞</p>
            </li>
            <li>
              <p>第32回 U-20プログラミング・コンテスト</p>
              <p>「落し物お知らせサービスあったよ！」</p>
              <p class="award">経済産業大臣賞</p>
            </li>
            <li>
              <p>第31回 U-20プログラミング・コンテスト</p>
              <p>「スクリーンキーボードエディタ」</p>
              <p class="award">経済産業省商務情報政策局長賞</p>
            </li>
          </ul>
          <!--<a href=""><img src="images/U-22procon2014_bnr.gif" alt="u22のバナー"></a>--> 
        </section>
        <section>
          <h4>ICT Challenge+R</h4>
          <ul>
            <li>
              <p>～もしもの時の安心アプリ～「iSHelper」</p>
              <p class="award">ニフティ賞</p>
              <p class="award">サイボウズ関西賞</p>
            </li>
            <li>
              <p>Gi-Proxy</p>
              <p class="award">インテリジェンスビジネスソリューションズ "働くを楽しもう"</p>
            </li>
            <li>
              <p>USB-Passkey</p>
              <p class="award">情報会賞</p>
            </li>
          </ul>
          <!--<a href="http://www.ict-challenger.jp/"><img src="images/ict.fw.png" alt="ict+rのバナー"></a>-->
        </section>
        <section>
          <h4>情報オリンピック</h4>
          <ul>
            <li>
              <p>第12回情報オリンピック</p>
              <p class="award">本戦出場</p>
            </li>
            <li>
              <p>第11回情報オリンピック</p>
              <p class="award">本戦出場</p>
            </li>
            <li>
              <p>第10回情報オリンピック</p>
              <p class="award">本戦出場(北海道・東北地区第1位)</p>
            </li>
            <li>
              <p>第9回情報オリンピック</p>
              <p class="award">本戦出場</p>
            </li>
            <li>
              <p>第8回情報オリンピック</p>
              <p class="award">本戦出場</p>
            </li>
          </ul>
          <!--<a href="http://www.ioi-jp.org/"><img src="images/joi.fw.png" alt="情報オリンピックのバナー"></a>-->
        </section>
        <section>
          <h4>全国高等学校パソコンコンクール(パソコン甲子園)</h4>
          <ul>
            <li>
              <p>第10回全国高等学校パソコンコンクール</p>
              <p class="award">本戦8位入賞/517チーム中 
            </li>
          </ul>
          <ul>
            <li>
              <p>第9回全国高等学校パソコンコンクール</p>
              <p class="award">本戦出場</p>
            </li>
          </ul>
          <!--<a href="http://web-ext.u-aizu.ac.jp/pc-concours/"><img src="images/pck.fw.png" alt="パソコン甲子園のバナー"></a>-->
        </section>
        <section>
          <h4>全国高校生プログラミングコンテスト</h4>
          <ul>
            <li>
              <p>第34回全国高校生プログラミングコンテスト</p>
              <p class="award">第1位　優勝</p>
            </li>
            <li>
              <p>第33回全国高校生プログラミングコンテスト</p>
              <p class="award">第5位</p>
            </li>
            <li>
              <p>第32回全国高校生プログラミングコンテスト</p>
              <p class="award">第1位　優勝</p>
            </li>
            <li>
              <p>第31回全国高校生プログラミングコンテスト</p>
              <p class="award">第1位　優勝</p>
            </li>
            <li>
              <p>第30回全国高校生プログラミングコンテスト</p>
              <p class="award">第1位　優勝</p>
            </li>
          </ul>
          <!--<a href="http://www.zenjouken.com/?page_id=62"><img src="images/CH.fw.png" alt="全国高校生プログラミングコンテストのバナー"></a>-->
        </section>
        <section>
          <h4>宮城県産業教育高校生コンピュータ・ソフトコンテスト</h4>
          <ul>
            <li>
              <p>Dot.6</p>
              <p class="award">最優秀賞</p>
            </li>
            <li>
              <p>ワードメモリー</p>
              <p class="award">優秀賞</p>
            </li>
            <li>
              <p>地記学</p>
              <p class="award">佳作</p>
            </li>
            <li>
              <p>仙台なまりん</p>
              <p class="award">最優秀賞</p>
            </li>
            <li>
              <p>TemHum</p>
              <p class="award">優秀賞</p>
            </li>
          </ul>
        </section>
      </div>
      <section>
        <h3 class="record_line_hard"><span>ハード班</span></h3>
        <div id="hard_record">
          <section>
            <h4>WRO(World Robot Olympiad)</h4>
            <ul>
              <li>
                <p>第8回WROJapan 東北地区大会</p>
                <p class="award">優勝</p>
              </li>
              <li>
                <p>宮城県生徒活動成果発表会2013</p>
                <p class="award">最優秀賞</p>
              </li>
              <li>
                <p>WRO Japan 2013 決勝大会　「プレゼン部門」</p>
                <p class="award">優秀賞</p>
              </li>
              <li>
                <p>第7回WROJapan 東北地区大会</p>
                <p class="award">優勝</p>
              </li>
              <li>
                <p>WRO Japan 2012 決勝大会</p>
                <p class="award">審査員特別賞</p>
              </li>
              <li>
                <p>第6回WROJapan 東北地区大会</p>
                <p class="award">優勝</p>
              </li>
              <li>
                <p>第5回WROJapan 東北地区大会</p>
                <p class="award">優勝</p>
              </li>
              <li>
                <p>第4回WROJapan 東北地区大会</p>
                <p class="award">3位</p>
              </li>
              <li>
                <p>第3回WROJapan 東北地区大会</p>
                <p class="award">優勝</p>
              </li>
            </ul>
            <!--<a href="http://www.wroj.org/"><img src="images/wro.png" alt="wroのバナー"></a>-->
          </section>
        </div>
      </section>
      <section>
        <h3 class="record_line_web"><span>ウェブ班</span></h3>
        <div id="web_record">
          <section>
            <h4>若年者ものづくり競技大会　ウェブデザイン職種</h4>
            <ul>
              <li>
                <p>第9回若年者ものづくり競技大会　ウェブデザイン職種</p>
                <p class="award">第3位</p>
                <p class="award">敢闘賞</p>
              </li>
            </ul>
          </section>
        </div>
      </section>
    </section>
  </section>
</main>
