<main role="main">
  <div id="topic_path">
    <ol>
      <li><a href="index.html">
        <p>HOME</p>
        </a></li>
      <li>
        <p>&gt;</p>
      </li>
      <li><a href="works.html">
        <p>作品紹介</p>
        </a></li>
    </ol>
  </div>
  <section id="contents">
    <h2 class="border">作品紹介</h2>
    <section class="center"> <img src="images/mainico.png" alt="ishelper" width="200" height="200">
      <h3>iSHelper ～情報の防災袋～</h3>
      <p>iSHelper(アイシェルパー)とは,宮城県工業高校情報研究部の生徒が制作した地震などの有事の際に役立つスマートフォン用のアプリケーションです。
        「東日本大震災を経験した私たちだからこそできることがある！」という思いのもと, 万が一の際必要になると思われる６つの機能を搭載しました。
        このアプリを通して，震災時に多くの方からいただいたご支援への恩返しに少しでもなればと考えています。 </p>
      <p>iSHelper(アイシェルパー)特設サイトは<a href="http://www.irc.hira-tech.net/ishelper/top.html"><span class="link">こちら</span></a></p>
      <p><a href="http://www.irc.hira-tech.net/ishelper/top.html"><span class="link">http://www.irc.hira-tech.net/ishelper/top.html</span></a></p>
    </section>
    <section class="center"> <img src="images/Mathter.png" alt="Mathter">
      <h3>Mathter(マスター)</h3>
      <p>この計算ソフトMathterは2つの機能があります。フラッシュ暗算機能では問題数,表示間隔・時間,出題される数値範囲を設定し,足し算をしていくというものです。連続で正解し続ける						と・・・。計算練習機能では2つの表示された数字を足し,答えを入力するもので,早さを競うランキング機能も設けています。トップ10に入ればランキングに登録することができます。</p>
      <p>ダウンロードサイトは<a href="http://www.vector.co.jp/soft/winnt/edu/se492873.html"><span class="link">こちら</span></a></p>
      <p><a href="http://www.vector.co.jp/soft/winnt/edu/se492873.html"><span class="link">http://www.vector.co.jp/soft/winnt/edu/se492873.html</span></a></p>
    </section>
    <section class="center"> <img src="images/Dc.png" alt="ドリームキャッスル">
      <h3>ドリームキャッスル</h3>
      <p>このソフトウェアはCASLに触れたことないような超初心者の方でも使いやすいCASLシミュレータです。このシミュレータを使うことで、「CASLのソースと日本語の相互互換」が実現できます。</p>
      <p>ダウンロードサイトは<a href="http://www.vector.co.jp/soft/winnt/prog/se493357.html"><span class="link">こちら</span></a></p>
      <p><a href="http://www.vector.co.jp/soft/winnt/prog/se493357.html"><span class="link">http://www.vector.co.jp/soft/winnt/prog/se493357.html</span></a></p>
    </section>
  </section>
</main>
